
<div class="pure-menu pure-menu-horizontal">
    <ul class="pure-menu-list">
        <li class="pure-menu-item">
            <a href="/" class="pure-menu-link">Home</a>
        </li>
        <li class="pure-menu-item">
            <a href="/survey" class="pure-menu-link">RSVP</a>
        </li>
        <li class="pure-menu-item">
            <a href="/info" class="pure-menu-link">Wedding Info</a>
        </li>
        <li class="pure-menu-item">
            <a href="https://github.com/haydencarlson11/wedding" class="pure-menu-link">Github</a>
        </li>
    </ul>
</div>

